@page
@model MyWebApp.Pages.Index1Model
@{
    ViewData["title"] = "About Me";
}


<h1>About Me</h1>
<p>
    Hello! I'm Gabriel, a Computer Engineering student at the University of Aveiro. I started this journey to share my experiences and push myself to be more open about my work and 
    achievements.
</p>
<p>    
    Although I'm naturally introverted, I believe that sharing knowledge and projects online is a great way to connect with like-minded people and showcase what I've learned 
    throughout my academic journey.
</p>
<p>
    My projects span various areas of computer science, from simple algorithms to complex web applications, covering topics like real-time systems, computer graphics, and 
    high-performance computing.
</p>
