@page
@model MyWebApp.Pages.CreateWorkoutModel
@{
    ViewData["Title"] = "Create Workout";
}


<form method="post">
    <div class="form-group">
        <label for="exerciseName">Exercise Name</label>
        <select id="exerciseName" name="exerciseName" class="form-control">
            <option value="">--Select an exercise--</option>
            <option value="biceps curls">Bicep Curls</option>
            <option value="flat dumbell press">Flat Dumbell Press</option>
            <option value="lat pulldowns">Lat Pulldowns</option>
            <option value="seated dumbell shoulder press">Seated Dumbell Shoulder Press</option>
            <option value="peck deck machine fly">Peck Deck Machine Fly</option>
            <option value="cable lateral raises">Cable Lateral Raises</option>
            <option value="dumbell preacher curls">Dumbell Preacher Curls</option>



            <option value="shoulder press">Shoulder Press</option>
            <option value="squat">Squats</option>
        </select>
        <!--<input type="text" class="form-control" id="exerciseName" placeholder="Enter exercise name">-->
    </div>
    <div class="form-group">
        <label for="sets">Sets</label>
        <input type="number" class="form-control" id="sets" name="sets" placeholder="Enter number of sets">
    </div>
    <div class="form-group">
        <label for="reps">Reps</label>
        <input type="number" class="form-control" id="reps" name="reps" placeholder="Enter number of reps per set">
    </div>
    <div class="form-group">
        <label for="weight">Weight (kg)</label>
        <input type="number" class="form-control" id="weight" name="weight" placeholder="Enter weight used">
    </div> <br />
    <input type="submit"  value="submit"></input>
</form>
