@page
@model MyWebApp.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

<h1>My projects</h1>


<h3> Database for workout WebApp</h3>
<p>
    Designed and implemented a relational database to support a workout WebApp focused on strengthening the connection between Personal Trainers and Athletes. 
    Used Visual Studio to develop a visual frontend interface that interacts with the database, allowing trainers to create and manage training plans, and athletes to follow 
    their routines, log progress, and communicate with their trainer when needed.
</p>
<p>Technologies used:</p>
<ul>
    <li>SQL Server</li>
    <li>C#</li>
    <li>WinForms</li>
    <li>.NET Framework</li>
    <li>Visual Studio</li>
</ul>


<h3> Pocket Coach </h3>
<p >
    Created a web application for personal trainers and athletes in order to facilitate the contact between them. The app allows trainers to create and manage 
    training plans, while athletes can view and follow their plans, log their progress and consult the PT when needed. The goal of this app is to help trainers find more 
    clients and to help athletes in finding the right trainer to meet their fitness goals.
</p>
<p>Technologies used:</p>
<ul>
    <li>React</li>
    <li>FastAPI</li>
    <li>PostgreSQL</li>
    <li>Docker</li>
</ul>

